<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.abnormallydriven.daggerviewmodels.bravo">

    <application>
        <activity android:name="com.abnormallydriven.daggerviewmodels.bravo.BravoActivity">
        </activity>
    </application>

</manifest>